services:
  admin:
    build:
      context: .
      dockerfile: apps/admin/Dockerfile
    ports:
      - "3001:3001"
    depends_on:
      - api
      - web
    networks:
      - app-network
    env_file:
      - .env

  web:
    build:
      context: .
      dockerfile: apps/web/Dockerfile
    ports:
      - "3000:3000"
    depends_on:
      - api
    networks:
      - app-network
    env_file:
      - .env

  api:
    build:
      context: .
      dockerfile: apps/api/Dockerfile
      args:
        PROJECT: api
    environment:
      - NODE_ENV=production
      - PORT=8080
    ports:
      - "8080:8080"
    networks:
      - app-network
    env_file:
      - .env
    volumes:
      - ./apps/api/public:/apps/api/public
      - ./apps/api/uploads:/apps/api/uploads

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./apps/api/public:/app/public
      - ./apps/api/uploads:/app/uploads
      - /root/ssl/fullchain.pem:/etc/nginx/ssl/fullchain.pem
      - /root/ssl/privkey.pem:/etc/nginx/ssl/privkey.pem

    depends_on:
      - web
      - admin
      - api
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
